<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <!-- header -->
  <%= render 'sizes/header' %>

  <main>
  <div class="container">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <table>
          <thead>
            <tr>
              <h3>ユーザー情報</h3>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>名前</td>
              <td><%= current_user.lastname %> <%= current_user.firstname %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= current_user.telephone %></td>
            </tr>
            <tr>
              <td>Eメールアドレス</td>
              <td><%= current_user.email %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "編集", edit_user_path(current_user.id), :style=> "text-decoration: none;" %>
      </div>
      <div class="col-xs-2"></div>
    </div>

  </div>
  </main>

  <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>