<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
</head>
<body>
  <!-- header -->
  <%= render 'sizes/header' %>

  <main>
    <div class="container">
      <div class="row">
      <div class="col-md-2"></div>

          <!-- 日にち入力フォーム-->
          <%= form_for @reserve do |t| %>

        <div class="col-md-4">
            <%= t.label :day,"取付予約日"%>
            <%= t.text_field :day, {:class => 'form-control datepicker', :required => true, autocomplete:"off" } %>
            <%= t.label :day,"来店時間"%><br>
            <%= t.time_select :time, {start_hour: 10,end_hour: 18, :minute_step => 30,:include_blank => true} %><br>
        </div>
        <div class="col-md-4">
            <%= t.label :car_maker,"車のメーカー"%><br>
            <%= t.select :car_maker, [["トヨタ", "トヨタ"],["ホンダ","ホンダ"],["ニッサン","ニッサン"],["マツダ","マツダ"],["スバル","スバル"],["スズキ","スズキ"],["ミツビシ","ミツビシ"],["ダイハツ","ダイハツ"],["輸入車","輸入車"]], :prompt => "選択してください" %><br>
            <%= t.label :car_model,"車種"%><br>
            <%= t.text_field :car_model,:required => true, autocomplete:"off" %>
        </div>
        <div class="col-md-2"></div>
        </div>
      <div style="text-align:center;padding: 40px 0;">
        <%= t.submit '確認' %>
<%= @size.name %>
<%= @size.manufacture.name %>
<%= @size.price %>
      </div>
          <% end %>

      <!-- 予約表示フォーム -->
     <div class="container">
        <div class="row">
          <table class="table-bordered">
            <thead>
              <tr>
                <th>header1</th>
                <th>header2</th>
                <th>header3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>data1</td>
                <td>data2</td>
                <td>data3</td>
              </tr>
              <%= @reserves.each do |reserve| %>
              <tr>
                <td>data1</td>
                <td><%= reserve.day %></td>
                <td><%= reserve.time %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </main>

  <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>